<style>
  body{
    background-image: url("/image/background.jpg");
    background-size: cover;
  }
</style>

<form>
<div class="container">
  
  <div class="row" >
    <div class="card col-md-6 offset-md-3 p-5 mt-5" style="border:2px solid warning; font-size:12px;">
      <h3>Account Settings</h3>
      <hr/>
      <div class="panel-body">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= current_user.email%>">
            </div>
        </div>

        <div class="form-group row">
            <label for="staticNickname" class="col-sm-2 col-form-label">Nickname</label>
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticNickname" value="<%= current_user.nick_name%>">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticNickname" class="col-sm-2 col-form-label">Join Date</label>
            <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticNickname" value="<%= current_user.created_at.to_s.truncate_words(1).delete('.')%>">
            </div>
        </div>


    </div>
  </div>
  </div>
</form>