<style>
  .container {
    background-color: white;
    max-width: 1240px !important;
  }
  .pagination .page.current {
    background-color: transparent !important;
    color: rgb(7, 3, 130) !important;
    padding: 0 8px 0 8px !important;
  }
  .banner{
    overflow: hidden;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 350px;
  }
</style>

<div class='container my-4'>
  
  <div class="row justify-content-between font-weight-bold mt-5 px-4">
    <h4>Movie queue</h4>
    <div><%= @orders.where(user_id: current_user.id).count%> pieces</div>
  </div>
  <hr class="mt-1 mb-3 color-gray"/>
  <div class="row justify-content-space-around">
  <% @orders.each do |movie_queue|%>
    <% movie = movie_queue.movie%>
    <%= render "/movies/movie" ,{movie: movie} %>
  <% end %>
  </div>
  <div class="pagination justify-content-center mt-3">
  </div>
</div>